.general-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.quantity-items {
    width: 30px;
}

.description-item {
    white-space: pre-wrap;
}

.item-brand {
    font-size: 0.8em;
    text-align: left;
}

.item-price {
    text-align: right;
}

.item-center {
    width: 100%;
}

.item-bottom {
    margin-top: auto;
    width: 100%;
}

.checkbox-brands {
    display: inline-block;
    text-align: left !important;
}