.modal {
    font-size: 14px;
    width: 30%; 
}
.no-white-space {
    white-space: pre;
    white-space: pre-wrap;
}
.modal > .header {   
    border-bottom: 1px solid gray;  
    font-size: 18px;  
    text-align: center;  
    padding: 5px;
}
.modal > .content {   
    padding: 10px 5px;
}
.modal > .actions {   
    padding: 10px 5px;  
    margin: auto;  
    text-align: center;
}
.modal > .close {  
    cursor: pointer; 
    position: absolute;  
    display: block;  
    padding: 2px 5px;  
    line-height: 20px;  
    right: -10px;  
    top: -10px;  
    font-size: 24px;  
    background: #ffffff;  
    border-radius: 18px;  
    border: 1px solid #cfcece;
}