.table_left {
    text-align: left;
}

.item-row {
    max-width: 120px;
}

.img-responsive-item {
    max-width: 100px;
    height: auto;
}

.card-header {
    margin-bottom: 30px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 20px !important; 
    -webkit-box-shadow: 0 0 20px rgba(8, 21, 66, 0.05);
    box-shadow: 0 0 20px rgba(8, 21, 66, 0.05);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}


.project-list .row {
    margin: 15px;
}

.nav-tabs {
    border-width: 0;
}

.project-list .border-tab.nav-tabs .nav-item .nav-link {
    border: 1px solid transparent;
    padding: 8px 30px 8px 0;
    border-radius: 5px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
}

.border-tab.nav-tabs .nav-item .nav-link {
    font-size: 16px;
    color: #2c323f;
    text-align: center;
    padding: 10px 25px;
    border: none;
    border-bottom: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.border-tab.nav-tabs .nav-item .nav-link.active, .border-tab.nav-tabs .nav-item .nav-link.show, .border-tab.nav-tabs .nav-item .nav-link:focus, .border-tab.nav-tabs .nav-item .nav-link:hover {
    color: #5c61f2;
}

.project-list ul li svg {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.table .button {
    padding: 2px 12px;
    font-size: 14px;
}