.border-left-primary {
    border-left:.25rem solid #324c9b!important;
}

.border-left-success {
    border-left:.25rem solid #1cc88a!important
}

.shadow {
    box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important
}

.text-primary {
    color:#4e73df!important;
}
a.text-primary:focus,
a.text-primary:hover {
    color:#224abe!important
}

.font-weight-bold {
    font-weight:700!important
}

.text-xs {
    font-size:.8rem;
}

.text-gray-800 {
    color:#5a5c69!important;
    text-align:left;
}

.card-move {
    transition: all 0.3s ease;
}

.card-move:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-body-move .display-4 {
    transition: all 0.3s ease;
}

.card-move:hover .card-body-move .display-4 {
    transform: scale(1.1);
}

.decoration-number {
    font-style: normal;
    font-size: calc(1.325rem + .9vw)
}

.decoration-color {
    color: #e4612d;
}