.sidebar-custom {
    background-color: #171829;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
}

.sidebar-list {
    color: aliceblue;
}

.item-sidebar-custom {
    color: aliceblue !important;
    cursor: pointer;
    padding-top: 10px;
}

.item-min-sidebar {
    text-align: start;
    padding-left: 20px;
}

div[aria-expanded=true] .right-chevron {
   transition: .3s transform ease-in-out;
   transform: rotate(90deg);
}

