-var animate               = true ;
-var wow                   = true ;
-var landing_sticky        = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body.landing-page
      include ../../components/taptop
      // page-wrapper Start
      .page-wrapper.compact-wrapper
          // Page Body Start
          // header start
          header.landing-header
            .container-fluid
              .row
                .col-12
                  nav#navbar-example2.navbar.navbar-light.p-0
                      a.navbar-brand(href="javascript:void(0)") 
                        img.img-fluid.img-90(src="../assets/images/logo/logo3.png" alt="")
                      ul.landing-menu.nav.nav-pills
                        li.nav-item.menu-back
                          | back
                          i.fa.fa-angle-right
                        li.nav-item
                          a.nav-link(href='#home') Home
                        li.nav-item
                          a.nav-link(href='#demo') Demo
                        li.nav-item
                          a.nav-link(href='#framework') Frameworks
                        li.nav-item
                          a.nav-link(href='#Applications') Applications
                        li.nav-item
                          a.nav-link(href='#core-feature') Core Feature 
                        li.nav-item
                          a.nav-link(href='https://admin.pixelstrap.com/tivo/documentation/document/index.html' target="_blank") Documentation
                      .buy-block
                        a.btn-landing.btn-white(href="https://1.envato.market/Ygr36P" target="_blank") Purchase
                        .toggle-menu
                          i.fa.fa-bars
          // header end

          // landing home start
          section#home.landing-home
            img.img-fluid.bg-img-cover(src="../assets/images/landing/landing-home/home-bg.jpg" alt="")
            .container-fluid
              .row
                ul.animat-block.col-lg-6
                  li
                    img.img-fluid(src="../assets/images/landing/landing-home/01.jpg" alt="")
                  li
                    img.img-fluid(src="../assets/images/landing/landing-home/02.jpg" alt="")
                  li
                    img.img-fluid(src="../assets/images/landing/landing-home/03.jpg" alt="")
                  li
                    img.img-fluid(src="../assets/images/landing/landing-home/04.jpg" alt="")
                  li
                    img.img-fluid(src="../assets/images/landing/landing-home/05.jpg" alt="")
                .col-lg-5
                  .landing-home-contain
                    div
                      div
                        img.img-fluid(src="../assets/images/logo/logo3.png" alt="")    
                      h2 Tivo Bootstrap Admin Template
                      h3 Faster, Lighter & Dev. Friendly
                      p  When it comes to dashboard or web apps. One of the first impression you consider is the design. It needs to be high quality enough otherwise you will lose potential users due to bad design.
                      ul.btn-home-list
                        li
                          a.btn.btn-success(href="index.html" target="_blank")
                            img.img-fluid.img-30.me-1(src="../assets/images/landing/icon/html/html.png", alt="") 
                            SPAN HTML
                        li
                          a.btn.btn-danger(href="https://laravel.pixelstrap.com/tivo/dashboard" target="_blank")
                            img.img-fluid.img-30.me-1(src="../assets/images/landing/icon/laravel/laravel2.png", alt="") 
                            | Laravel
                        li
                          a.btn.btn-info(href="https://react.pixelstrap.com/tivo/dashboard/default" target="_blank")
                            img.img-fluid.img-30.me-1(src="../assets/images/landing/icon/react/react.png", alt="") 
                            | React
                        li
                          a.btn.btn-dark(href="https://vue.pixelstrap.com/tivo/" target="_blank")
                            img.img-fluid.img-30.me-1(src="../assets/images/landing/icon/vue/vue.png", alt="") 
                            | Vue
          // landing home end

          // layout section start
          section#demo.section-py-space.layout-section
            .container
              .row.layout-block
                .col-sm-12.wow.pulse
                  .title
                    h2 Dashboard Layout
                      i.fa.fa-circle
                .col-sm-12 
                  ul#top-tab.nav.nav-tabs.layout-list(role='tablist')
                    li.nav-item
                      a#light-link.nav-link.active(data-bs-toggle='tab', href='#light-links', role='tab', aria-selected='true') Light Layout
                    li.nav-item
                      a#dark-link.nav-link(data-bs-toggle='tab', href='#dark-links', role='tab', aria-selected='false') Dark Layout
                    li.nav-item
                      a#box-link.nav-link(data-bs-toggle='tab', href='#box-links', role='tab', aria-selected='false') Box Layout
                  #top-tabContent.tab-content.layout-links
                      #light-links.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='light-link')
                        .row
                          .col-md-4
                            div.layout-box
                              a(href="index.html" target="_blank") 
                                img.img-fluid(src="../assets/images/landing/layout/1.jpg" alt="")
                              ul.d-flex
                                li
                                  a.light-layouts(href="index.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.light-layouts(href="https://laravel.pixelstrap.com/tivo/dashboard-light" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/dashboard/default?layout=light-only" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                li
                                  a(href="https://vue.pixelstrap.com/tivo/dashboards/default" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                    span Vue
                          .col-md-4
                            div.layout-box
                              a(href="dashboard-02.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/2.jpg" alt="")
                              ul.d-flex
                                li
                                  a.light-layouts(href="dashboard-02.html" target="_blank" data-attr="box-layout") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.light-layouts(href="https://laravel.pixelstrap.com/tivo/e-commerce-light" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/dashboard/ecommerce?layout=light-only" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                li
                                  a(href="https://vue.pixelstrap.com/tivo/dashboards/e-commerce" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                    span Vue
                          .col-md-4
                            div.layout-box
                              a(href="general-widget.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/3.jpg" alt="")
                              ul.d-flex
                                li
                                  a.light-layouts(href="general-widget.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.light-layouts(href="https://laravel.pixelstrap.com/tivo/general-widget-light" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/widgets/general?layout=light-only" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                li
                                  a(href="https://vue.pixelstrap.com/tivo/widgets/general" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                    span Vue
                      #dark-links.tab-pane.fade(role='tabpanel', aria-labelledby='dark-link')
                        .row
                          .col-md-4
                            div.layout-box
                              a(href="index.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/4.jpg" alt="")
                              ul.d-flex
                                li
                                  a.dark-layouts(href="index.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.dark-layouts(href="https://laravel.pixelstrap.com/tivo/dashboard-dark" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/dashboard/default?layout=dark-only" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                //- li
                                //-   a(href="Vuelink" target="_blank") 
                                //-     img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                //-     span Vue
                          .col-md-4
                            div.layout-box
                              a(href="dashboard-02.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/5.jpg" alt="")
                              ul.d-flex
                                li
                                  a.dark-layouts(href="dashboard-02.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.dark-layouts(href="https://laravel.pixelstrap.com/tivo/e-commerce-dark" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/dashboard/ecommerce?layout=dark-only" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                //- li
                                //-   a(href="Vuelink" target="_blank") 
                                //-     img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                //-     span Vue
                          .col-md-4
                            div.layout-box
                              a(href="general-widget.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/6.jpg" alt="")
                              ul.d-flex
                                li
                                  a.dark-layouts(href="general-widget.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.dark-layouts(href="https://laravel.pixelstrap.com/tivo/general-widget-dark" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/widgets/general?layout=dark-only" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                //- li
                                //-   a(href="Vuelink" target="_blank") 
                                //-     img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                //-     span Vue
                      #box-links.tab-pane.fade(role='tabpanel', aria-labelledby='box-link')
                        .row
                          .col-md-4
                            div.layout-box
                              a(href="index.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/7.jpg" alt="")
                              ul.d-flex
                                li
                                  a.box-layouts(href="index.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.box-layouts(href="https://laravel.pixelstrap.com/tivo/dashboard-box" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/dashboard/default?layout=box-layout" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                //- li
                                //-   a(href="Vuelink" target="_blank") 
                                //-     img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                //-     span Vue
                          .col-md-4
                            div.layout-box
                              a(href="dashboard-02.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/8.jpg" alt="")
                              ul.d-flex
                                li
                                  a.box-layouts(href="dashboard-02.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.box-layouts(href="https://laravel.pixelstrap.com/tivo/e-commerce-box" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/dashboard/ecommerce?layout=box-layout" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                //- li
                                //-   a(href="Vuelink" target="_blank") 
                                //-     img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                //-     span Vue
                          .col-md-4
                            div.layout-box
                              a(href="general-widget.html" target="_blank")
                                img.img-fluid(src="../assets/images/landing/layout/9.jpg" alt="")
                              ul.d-flex
                                li
                                  a.box-layouts(href="general-widget.html" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/html/html.png" alt="")
                                    span HTML
                                li
                                  a.box-layouts(href="https://laravel.pixelstrap.com/tivo/general-widget-box" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                                    span Laravel
                                li
                                  a(href="https://react.pixelstrap.com/tivo/widgets/general?layout=box-layout" target="_blank") 
                                    img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/react/react1.png" alt="")
                                    span React
                                //- li
                                //-   a(href="Vuelink" target="_blank") 
                                //-     img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/vue/vue.png" alt="")
                                //-     span Vue
          //layout section end

          //sidebar section start
          section.section-py-space.demo-section.light-bg.section-px-space
            .container
              .row.layout-block              
                .col-sm-12.wow.pulse
                  .title                       
                    h2 Sidebar Type
                      i.fa.fa-circle
              .row.demo-block
                .col-md-6.wow.pulse(style='visibility: visible; animation-name: pulse;')
                  .demo-box
                    .img-wrraper
                      img.img-fluid(src='../assets/images/landing/demo/1.jpg' alt='')
                    .demo-title
                      a.btn(href='index.html' data-bs-original-title='' title='' target="_blank") Horizontal Sidebar
                .col-md-6.wow.pulse(style='visibility: visible; animation-name: pulse;')
                  .demo-box
                    .img-wrraper
                      img.img-fluid(src='../assets/images/landing/demo/2.jpg' alt='')
                    .demo-title
                      a.btn(href='dashboard-02.html' data-bs-original-title='' title='' target="_blank") Vertical Sidebar
          //sidebar section end
        
          // frameworks start
          section#framework.framework.section-py-space.bg-white
            .custom-container
              .row                  
                .col-sm-12.wow.pulse
                  .title                       
                    h2 Frameworks
                      i.fa.fa-circle
                .col-sm-12.framworks                  
                  ul#pills-tab.nav.nav-pills.justify-content-center(role='tablist')
                    li.nav-item
                      a#pills-home-tab.nav-link.d-flex.active(data-bs-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') 
                        img(src="../assets/images/landing/icon/html/html.png" alt="")
                        .text-start
                            h5.mb-0 HTML
                    li.nav-item
                      a#pills-laravel-tab.d-flex.nav-link(data-bs-toggle='pill' href='#pills-laravel' role='tab' aria-controls='pills-laravel' aria-selected='false')
                        img(src='../assets/images/landing/icon/laravel/laravel.png' alt='')
                        .text-start
                            h5.mb-0 Laravel
                    li.nav-item
                      a#pills-react-tab.d-flex.nav-link(data-bs-toggle='pill' href='#pills-react' role='tab' aria-controls='pills-react' aria-selected='false')
                        img(src='../assets/images/landing/icon/react/react1.png' alt='')
                        .text-start
                            h5.mb-0 React
                    li.nav-item
                      a#pills-vue-tab.d-flex.nav-link(data-bs-toggle='pill' href='#pills-vue' role='tab' aria-controls='pills-vue' aria-selected='false')
                        img(src='../assets/images/landing/icon/vue/vue.png' alt='')
                        .text-start
                            h5.mb-0 Vue
                  #pills-tabContent.tab-content
                    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
                      ul.framworks-list
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/bootstrap.png" alt="")
                            h6 Bootstrap 5
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/css.png" alt="")
                            h6 CSS 3
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/sass.png" alt="")
                            h6 Sass
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/pug.png" alt="")
                            h6 Pug
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/npm.png" alt="")
                            h6 NPM
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/gulp.png" alt="")
                            h6 Gulp
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/kit.png" alt="")
                            h6 Starter Kit
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/uikits.png" alt="")
                            h6 40+ UI Kits
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/layout.png" alt="")
                            h6 8+ Layout
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/builders.png" alt="")
                            h6 Builders
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/iconset.png" alt="")
                            h6 11 Icon Sets
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/forms.png" alt="")
                            h6 Forms
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/table.png" alt="")
                            h6 Tables
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/html/apps.png" alt="")
                            h6 17+ Apps
                    #pills-laravel.tab-pane.fade(role='tabpanel' aria-labelledby='pills-laravel-tab')
                      ul.framworks-list
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/laravel.png" alt="")
                            h6 Laravel 9
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/bootstrap.png" alt="")
                            h6 Bootstrap 5
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/blade.png" alt="")
                            h6 Blade View
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/forms.png" alt="")
                            h6 Forms
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/apps.png" alt="")
                            h6 Apps
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/iconset.png" alt="")
                            h6 Icons
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/layout.png" alt="")
                            h6 Layout
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/uikits.png" alt="")
                            h6 Ui kits
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/gallery.png" alt="")
                            h6 Gallery
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/apex.png" alt="")
                            h6 Apex chart
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/chartist.png" alt="")
                            h6 Chartist
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/laravel/chartjs.png" alt="")
                            h6 Chartjs
                    #pills-react.tab-pane.fade(role='tabpanel' aria-labelledby='pills-react-tab')
                      ul.framworks-list
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/hook.png" alt="")
                            h6 React Hook
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/noquery.png" alt="")
                            h6 No jquery
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/reactstrap.png" alt="")
                            h6 React Strap
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/reactrouter.png" alt="")
                            h6 React Router
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/application.png" alt="")
                            h6 React Kanban
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/props_state.png" alt="")
                            h6 State & Props
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/bootstrap.png" alt="")
                            h6 Bootstrap 5
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/apex.png" alt="")
                            h6 Apexchart
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/props_state.png" alt="")
                            h6 Context
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/map.png" alt="")
                            h6 Emoji picker
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/chartist.png" alt="")
                            h6 Chartist
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/chart.png" alt="")
                            h6 Chartjs-2
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/animation.png" alt="")
                            h6 Countdown
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/gallery.png" alt="")
                            h6 Image-crop
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/chat.png" alt="")
                            h6 Chat
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/table.png" alt="")
                            h6 Full-calendar
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/iconset.png" alt="")
                            h6 React Treeview
                    #pills-vue.tab-pane.fade(role='tabpanel' aria-labelledby='pills-vue-tab')
                      ul.framworks-list
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/vuex.png" alt="")
                            h6 Vue X
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/animation.png" alt="")
                            h6 Animation
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/bootstrap.png" alt="")
                            h6 Bootstrap
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/vuecli.png" alt="")
                            h6 Vue Cli
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/vuemasonary.png" alt="")
                            h6 Vue Masonary
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/chart.png" alt="")
                            h6 Charts
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/nojquery.png" alt="")
                            h6 No Jquery
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/rangeslider.png" alt="")
                            h6 Range Slider
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/rtlsupport.png" alt="")
                            h6 RTL Support
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/vuerouter.png" alt="")
                            h6 Vue Router
                        li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/vue/vueswiper.png" alt="")
                            h6 Vue Swiper
          //frameworks end

          //Applications start
          section#Applications.demo-section.section-py-space.light-bg.application-section
            .title
              h2 Usefull application
                i.fa.fa-circle
            .container
              .row.demo-block
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="projects.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/10.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="projects.html" target="_blank") Project
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="kanban.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/8.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="kanban.html" target="_blank") Kanban
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="social-app.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/1.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="social-app.html" target="_blank") Social App
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href='to-do.html' target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/5.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="to-do.html" target="_blank") To-Do
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="knowledgebase.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/2.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="knowledgebase.html" target="_blank") Knowledgebase
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="file-manager.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/9.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="file-manager.html" target="_blank") File Manager
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="product-page.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/7.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="product-page.html" target="_blank") Ecommerce
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="contacts.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/11.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="contacts.html" target="_blank") Contacts
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="chat.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/12.jpg" alt="")
                    .demo-detail 
                      .demo-title
                        a.btn(href="chat.html" target="_blank") Chat
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href='support-ticket.html' target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/3.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="support-ticket.html" target="_blank") Support Ticket
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="email_inbox.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/4.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="email_inbox.html" target="_blank") Email Application
                .col-lg-4.col-sm-6.wow.pulse
                  .demo-box
                    .img-wrraper
                      a(href="job-cards-view.html" target="_blank")
                        img.img-fluid(src="../assets/images/landing/application/6.jpg" alt="")
                    .demo-detail
                      .demo-title
                        a.btn(href="job-cards-view.html" target="_blank") Job Search                           
          //Applications end
          
          // unique-cards start
          section.responsive-card.section-py-space.bg-white
            .title
              h2 responsive design
                i.fa.fa-circle
            .custom-container
              .row
                .col-12
                  .img-wrraper
                    img.img-fluid(src="../assets/images/landing/responsive-card/responsive-card.jpg" alt="")
          // unique-cards end

          //Core Feature start
          section#core-feature.core-feature.section-py-space.light-bg
            .title
              h2 Unique Features
                i.fa.fa-circle
            .container
              .row.feature-block
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="bold")
                    .flex-grow-1
                      h4 Bootstrap 5
                      p Cloud ui is built with latest version of bootstrap 5
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="code")
                    .flex-grow-1
                      h4 Seamless Coding
                      p We have crafted our templates very carefully and our code is W3C validated
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="settings")
                    .flex-grow-1
                      h4 Easy to Customize
                      p Our Template is easy to do any required changes.
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="layout")
                    .flex-grow-1
                      h4 Lots of Table Example
                      p We made sure that you get lots of table options to choose
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="upload-cloud")
                    .flex-grow-1
                      h4 Multiple File Uploads
                      p Option to upload more than one file at one time
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="calendar")
                    .flex-grow-1
                      h4 Calendar Design
                      p We have included Calendar application  with  Material art
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="image")
                    .flex-grow-1
                      h4 Gallery Options
                      p Included gallery options for you to showcase products
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="cpu")
                    .flex-grow-1
                      h4 Editors
                      p Options to select the editors that you are comfortable with
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper   
                        i(data-feather="sliders")
                    .flex-grow-1
                      h4 Owl carousel
                      p Touch enabled jQuery plugin that lets you create a beautiful responsive carousel
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="airplay")
                    .flex-grow-1
                      h4 Fully responsive
                      p 100% fully responsive layout, It display well in any size of devices
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="droplet")
                    .flex-grow-1
                      h4 3000s of icons
                      p Over 3000+ icons to choose
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper   
                        i(data-feather="help-circle")
                    .flex-grow-1
                      h4 Support
                      p we are always there as your backbone for any of your minor query
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper
                        i(data-feather="trash-2")
                    .flex-grow-1
                      h4 Clean design
                      p Clean and attractive design
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper   
                        i(data-feather="aperture")
                    .flex-grow-1
                      h4 Color templates
                      p Dark and light templates available
                .col-xl-4.col-sm-6
                  div.d-flex
                    .flex-shrink-0
                      .icon-wrraper   
                        i(data-feather="codepen")
                    .flex-grow-1
                      h4 Data visualization
                      p A lot of customized chart libraries

          //Core Feature end

          // counter-section start
          section.counter-sec.section-py-space
            .custom-container
              .row.counter-block
                .col-lg-3.col-sm-6
                  .counter-box
                    div
                      .count-number
                        h3 2
                      .count-detail
                        h4 Layouts  
                        p Tivo template has include light , dark , box & vertical layouts.
                .col-lg-3.col-sm-6
                  .counter-box
                    div
                      .count-number
                        h3 12
                      .count-detail
                        h4 Workable App
                        p Tivo template is comes with 10+ different clean modern & Usefully Application.
                .col-lg-3.col-sm-6  
                  .counter-box
                    div
                      .count-number
                        h3 42
                      .count-detail
                        h4 Components
                        p Tivo admin template includes 42+ new and usefully Components.
                .col-lg-3.col-sm-6
                  .counter-box
                    div
                      .count-number
                        h3 178
                      .count-detail
                        h4 pages
                        p Tivo template is comes with 178+ different inner pages
          // counter-section end

          //footer start
          section#footer.landing-footer.section-py-space.light-bg
            .custom-container
              .row
                .col-12
                  .footer-contain
                    img.img-fluid(src="../assets/images/logo/logo2.png" alt="")
                    h2 If you like our products, Please Rate Us
                    ul.star-rate
                      li
                        i.fa.fa-star.font-warning
                      li
                        i.fa.fa-star.font-warning
                      li
                        i.fa.fa-star.font-warning
                      li
                        i.fa.fa-star.font-warning
                      li
                        i.fa.fa-star.font-warning
                    .btn-footer
                      a(class="btn btn-lg btn-primary" target="_blank" href="index.html" data-bs-original-title="" title="") Check Now
                      a(class="btn btn-lg btn-secondary" target="_blank" href="https://1.envato.market/Ygr36P" data-bs-original-title="" title="") Buy Now
                      a(class="btn btn-lg btn-success" target="_blank" href="https://themeforest.net/search/pixelstrap" data-bs-original-title="" title="") Our Portfolio
          //footer end
          
      include ../../components/footer-files
      script.
          wow = new WOW({
              mobile: false
          })
          wow.init();