- var theme_customizer      = true;
- var tooltip               = true;
- var sweetalert2           = true;
- var page_sweetalert2      = true;
- var sidebar               = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/taptop
    include ../../components/loader
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-sm-6
                  h3
                    | sweet Alert
                .col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')
                        i(data-feather="home")
                    li.breadcrumb-item Bonus Ui
                    li.breadcrumb-item.active sweet Alert
          // Container-fluid starts                    
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header.pb-0
                    h4 Basic Examples
                  .card-body
                    .btn-showcase
                      button.btn.btn-primary.sweet-1(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-1']);") Basic
                      button.btn.btn-secondary.sweet-2(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-2']);") With Title alert
                      button.btn.btn-success.sweet-3(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-3']);") Success alert
                      button.btn.btn-info.sweet-4(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-4']);") Info alert
                      button.btn.btn-danger.sweet-5(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-5']);") Danger alert
              .col-sm-12
                .card
                  .card-header.pb-0
                    h4 Advanced State
                  .card-body
                    .btn-showcase
                      button.btn.btn-primary.sweet-12(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-12']);") Primary
                      button.btn.btn-secondary.sweet-11(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-11']);") Secondary
                      button.btn.btn-success.sweet-13(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-13']);") Success
                      button.btn.btn-info.sweet-10(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-10']);") Info
              .col-sm-12
                .card
                  .card-header.pb-0
                    h4 Alert State
                  .card-body
                    .btn-showcase
                      button.btn.btn-primary.sweet-8(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-8']);") Primary
                      button.btn.btn-secondary.sweet-7(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-7']);") Secondary
                      button.btn.btn-success.sweet-9(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-9']);") Success
                      button.btn.btn-info.sweet-6(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-6']);") Info
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files   
