- var todo                  = true;
- var theme_customizer      = true;
- var tooltip               = true;
- var sidebar               = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/taptop
    include ../../components/loader
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-sm-6
                  h3
                    | To-Do
                .col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')
                        i(data-feather="home")
                    li.breadcrumb-item Apps
                    li.breadcrumb-item.active To-Do
          // Container-fluid starts
          .container-fluid.email-wrap.bookmark-wrap.todo-wrap
            .row
              .col-xxl-3.col-xl-4.box-col-30
                .email-sidebar.md-sidebar
                  a.btn.btn-primary.email-aside-toggle.md-sidebar-toggle To Do filter
                  .email-left-aside.md-sidebar-aside
                    .card 
                      .card-body 
                        .email-app-sidebar.left-bookmark.custom-scrollbar
                          .d-flex.align-items-center
                            .media-size-email
                              img.me-3.rounded-circle(src="../assets/images/user/user.png", alt="")
                            .flex-grow-1 
                              h6.f-w-600 Mark Jecno
                              p Markjecno@gmail.com
                          ul.nav.main-menu
                            li.nav-item
                              button.btn-primary.badge-light.d-block.btn-mail.w-100
                                i.me-2(data-feather="check-circle") 
                                | To Do List
                            li.nav-item 
                              a(href="javascript:void(0)")
                                span.iconbg.badge-light-primary
                                  i(data-feather="file-plus")
                                span.title.ms-2 All Task
                            li.nav-item
                              a(href="javascript:void(0)")
                                span.iconbg.badge-light-success
                                  i(data-feather="check-circle")
                                span.title.ms-2 Completed
                                span.badge.rounded-pill.badge-success 3
                            li.nav-item
                              a(href="javascript:void(0)")
                                span.iconbg.badge-light-danger
                                  i(data-feather="cast")
                                span.title.ms-2 Pending
                                span.badge.rounded-pill.badge-danger 2
                            li.nav-item
                              a(href="javascript:void(0)")
                                span.iconbg.badge-light-info
                                  i(data-feather="activity")
                                span.title.ms-2 In Process
                                span.badge.rounded-pill.badge-primary 2
                            li.nav-item
                              a(href="javascript:void(0)")
                                span.iconbg.badge-light-danger
                                  i(data-feather="trash")
                                span.title.ms-2 Trash
              .col-xxl-9.col-xl-8.box-col-70
                .card
                  .card-header.b-bottom
                    .todo-list-header 
                      .new-task-wrapper.input-group
                          input#new-task.form-control(placeholder='Enter new task here. . .')
                          span#add-task.btn.btn-primary.add-new-task-btn Add Task
                  .card-body
                    .todo
                      .todo-list-wrapper.theme-scrollbar
                        .todo-list-container
                          .todo-list-body
                            ul#todo-list
                              li.task
                                .task-container
                                  h4.task-label Check validation involves making sure all your tags are properly closed and nested.
                                  .d-flex.align-items-center.gap-3
                                    span.badge.badge-light-primary.done-badge In Progress
                                    h5.assign-name.m-0 10 Nov
                                    span.task-action-btn
                                      span.action-box.large.delete-btn(title='Delete Task')
                                        i.icon
                                          i.icon-trash
                              li.task
                                .task-container
                                  h4.task-label Test the outgoing links from all the pages to the specific domain under test.
                                  .d-flex.align-items-center.gap-3
                                    span.badge.badge-light-danger Pending
                                    h5.assign-name.m-0 04 Aug
                                    span.task-action-btn
                                      span.action-box.large.delete-btn(title='Delete Task')
                                        i.icon
                                          i.icon-trash
                              li.completed.task
                                .task-container
                                  h4.task-label Test links are used to send emails to admin or other users from web pages.
                                  .d-flex.align-items-center.gap-3
                                    span.badge.badge-light-success Done
                                    h5.assign-name.m-0 25 Feb
                                    span.task-action-btn
                                      span.action-box.large.delete-btn(title='Delete Task')
                                        i.icon
                                          i.icon-trash
                              li.task
                                .task-container
                                  h4.task-label Options to create forms, if any, form deletes a view or modify the forms.
                                  .d-flex.align-items-center.gap-3
                                    span.badge.badge-light-primary In Progress
                                    h5.assign-name.m-0 15 Dec
                                    span.task-action-btn
                                      span.action-box.large.delete-btn(title='Delete Task')
                                        i.icon
                                          i.icon-trash
                              li.task
                                .task-container
                                  h4.task-label Wrong inputs in the forms to the fields in the forms.
                                  .d-flex.align-items-center.gap-3
                                    span.badge.badge-light-danger Pending
                                    h5.assign-name.m-0 11 Nov
                                    span.task-action-btn
                                      span.action-box.large.delete-btn(title='Delete Task')
                                        i.icon
                                          i.icon-trash
                              li.task.completed
                                .task-container
                                  h4.task-label Check if the instructions provided are perfect to satisfy its purpose.
                                  .d-flex.align-items-center.gap-3
                                    span.badge.badge-light-danger Pending
                                    h5.assign-name.m-0 04 Sept
                                    span.task-action-btn
                                      span.action-box.large.delete-btn(title='Delete Task')
                                        i.icon
                                          i.icon-trash
                              li.task
                                .task-container
                                  h4.task-label Application server and Database server interface.
                                  .d-flex.align-items-center.gap-3
                                    span.badge.badge-light-success Done
                                    h5.assign-name.m-0 08 July
                                    span.task-action-btn
                                      span.action-box.large.delete-btn(title='Delete Task')
                                        i.icon
                                          i.icon-trash
                          
                      .notification-popup.hide
                        p
                          span.task
                          span.notification-text
                    // HTML Template for tasks
                    script#task-template(type='tect/template').
                      <li class="task">
                        <div class="task-container">
                          <h4 class="task-label"></h4>
                          <div class="d-flex align-items-center gap-3">
                            <span class="badge badge-light-danger">Pending</span>
                            <h5 class="assign-name m-0">16 Jan</h5>
                            <span class="task-action-btn">
                              <span class="action-box large delete-btn" title="Delete Task">
                                <i class="icon"><i class="icon-trash"></i></i>
                              </span>
                            </span>
                          </div>
                        </div>
                      </li>
          
          // Container-fluid Ends

          // Container-fluid ends                    
        include ../../components/footer
    include ../../components/footer-files
